.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 5vh 4vw;
  gap: 3rem; 
  font-size: 3rem;
  color: azure;
  margin-top: 5vh;
  margin-left: 4vw;
}

.AboutH1 {
  font-size: 6rem;
  margin-top: 0vh;
  font-family: BBH sans bartle;
}

.AboutP {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
  font-weight: bold;
}


span {
  color: #7d0dd6;
}
.about-text {
  flex: 1; 
  max-width: 50%; 
}

.AboutImage {
  width: 600px;
  height: auto;
  border-radius: 10px;
}
.AboutImages {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 4rem;
}

