.projects-page {
  background-color: #484646;
  min-height: 100vh;
  color: white;
  font-family: "BBH Sans Bartle", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #7d0dd6, #2a7dff);
  padding: 1rem 3rem;
}

.navbar-logo {
  height: 80px;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links button {
  background-color: #606060;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nav-links button:hover {
  background-color: #808080;
}

.projects-section {
  padding: 3rem 4rem;
}

.projects-title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-bottom: 4px solid #4c4cff;
  display: inline-block;
  padding-bottom: 0.4rem;
}

.projects-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 7rem;
  flex-wrap: wrap;
}

.project-card {
  background-color: #7d47f0;
  flex: 1 1 400px; 
  max-width: 500px;
  min-height: 300px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  color: white;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.project-desc {
  font-size: 1.3rem;
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.details-btn {
  background-color: #606060;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  align-self: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.details-btn:hover {
  background-color: #808080;
}

@media (max-width: 800px) {
  .projects-grid {
    flex-direction: column;
    align-items: center;
  }
}

.divider {
  width: 100%;
  height: 10px;
  margin: 4rem auto;
  border-radius: 5px;
  background: linear-gradient(to right, #7d0dd6, #2a7dff);
}

.project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  color: white;
}

.project-detail-image {
  max-width: 500px;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}

.project-detail-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-detail-desc {
  max-width: 800px;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
